:root {
  --bgColor: white;
  --textColor: black;
  --accentColor: #0079c2;
  --warningColor: #df006e;
  --successColor: #99c879;
  --hoverColor: #00aacd;
}

body {
  background-color: var(--bgColor);
}

h1 {
  color: var(--bgColor);
  background-color: var(--accentColor);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

table {
  margin: auto;
  border-collapse: collapse;
  min-width: 60%;
  max-width: 90%;
}

tr,
td,
th {
  margin: auto;
  border-bottom: solid 1px var(--accentColor);
  padding: 7px;
  color: var(--textColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: left;
}

.btn {
  width: 25%;
  max-width: 120px;
  border-radius: 7px;
  padding: 5px 10px;
  margin: 2px;
  text-decoration: none;
  color: var(--bgColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  border: none;
}

.btn-primary:hover,
.btn-danger:hover,
.btn-success:hover {
  background-color: var(--hoverColor) !important;
}

.btn-primary {
  background-color: var(--accentColor);
}

.btn-danger {
  background-color: var(--warningColor);
}

.btn-success {
  background-color: var(--successColor);
}
