<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lisää kysymys</title>
</head>
<body>
    <div>

        <h1>Lisää kysymys</h1>

        <form th:method="post" action="#" th:action="@{savequestion}" method="post">
            <label for="title">Kysymys:</label><br>
            <input type="text" id="title" name="title" required><br><br>
            <label for="typeSelection">Kysymyksen tyyppi:</label><br>
            <select id="typeSelection" name="typeSelection">
                <option value="TEXT">Teksti</option>
                <option value="MULTIPLE_CHOICE_CHECKBOX">Monivalinta (valitse 1 tai useampi)</option>
                <option value="RADIO_BUTTON">Monivalinta (valitse yksi)</option>
                <option value="SCALE_1-5">Asteikko 1-5</option>
            </select><br><br>
            <input type="number" id="priority" name="priority" placeholder="Priority" required><br><br>
            <input type="hidden" id="surveyId" name="surveyId" th:value="${surveyId}">
            <input type="submit" value="Add Question">

        </form>

    </div>
</body>
</html>