<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kyselyn muokkaus</title>

</head>
<body>
    <h1>Kysely</h1>
    <button onclick="location.href='/addquestion'">Muokkkaa kyselyä</button>
   <table>
  
        <tr th:each="question : ${questions}">
            <td th:text="${question.id}">1</td>
            <td th:text="${question.title}">Sample Question</td>
            <td th:text="${question.type}">TEXT</td>
            <td th:text="${question.priority}">1</td>
        </tr>

    </table>
</body>
</html>
