<!DOCTYPE html>
<html lang="fi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lisää kysymys</title>
</head>
<body>
  <h1>Lisää kysymys</h1>
  <form method="post" action="savequestion">

    <div>
      <label for="title">Kysymys:</label>
      <input type="text" id="title" name="questionText" required>
    </div>

    <div>
      <label for="typeSelection">Kysymyksen tyyppi:</label>
      <select id="typeSelection" name="questionType">
        <option value="TEXT">Teksti</option>
        <option value="CHECKBOX">Monivalinta (1 tai useampi)</option>
        <option value="RADIO">Monivalinta (yksi)</option>
        <option value="SCALE">Asteikko 1-5</option>
      </select>
    </div>

    <div>
      <label>Pakollisuus:</label>
      <input type="radio" id="required" name="isRequired" value="TRUE">
      <label for="required">Pakollinen</label>
      <input type="radio" id="notRequired" name="isRequired" value="FALSE" checked>
      <label for="notRequired">Ei pakollinen</label>
    </div>

    <div>
      <label for="priority">Prioriteetti:</label>
      <input type="number" id="priority" name="priority" placeholder="Priority" required>
    </div>

    <div>
      <input type="submit" value="Lisää kysymys">
    </div>

  </form>
</body>
</html>
