<!DOCTYPE html>
<html lang="fi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <title>Kysymyslista</title>
</head>

<body>
    <h1>Kysymykset</h1>
    <table>
        <tr class="no-border">
            <th colspan="4" class="no-border"><a class="btn btn-success" th:href="@{|/${surveyId}/addquestion|}">Lisää
                    kysymys</a></th>
        </tr>
        <tr>
            <th>Kysymysteksti</th>
            <th>Kysymystyyppi</th>
            <th colspan="2"></th>
        </tr>
        <tr th:each="question : ${questions}">
            <input type="hidden" name="questionId" th:value="${question.questionId}" />
            <td th:text="${question.questionText}"></td>
            <td th:text="${question.questionType}"></td>
            <input type="hidden" th:value="${question.orderNumber}" />
            <td><a th:href="@{|/${surveyId}/editquestion/${question.questionId}|}" class="btn btn-primary">Muokkaa</a>
            </td>
            <td><a th:href="@{|/${surveyId}/deletequestion/${question.questionId}|}" class="btn btn-danger">Poista</a>
            </td>
        </tr>
    </table>
</body>

</html>