<!DOCTYPE html>
<html lang="fi">
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <title>Kyselyt</title>
</head>
<body>
    <table>
        <tr>
            <th>Otsikko</th>
            <th>Tekijä</th>
            <th>Julkaisuajankohta</th>
            <th>Viimeinen vastausajankohta</th>
            <th>Vastausten määrä</th>
            <th></th> <!--muokkaa nappi-->
            <th></th> <!--poista nappi-->
        </tr>
        <tr th:each = "q : ${qs}"> <!--q = questionnaire-->
            <td th:text="${q.title}"></td>
            <td>(tekijä)</td>
            <td th:text="${q.timePublished}"></td>
            <td th:text="${q.deadline}"></td>
            <td>(vastauksia)</td>
            <td><a th:href="@{/editquestionnaire/{questionnaireId}(id=${q.questionnaireId})}" class="btn btn-primary">Muokkaa</a></td> <!--muokkaa-->
            <td><a th:href="@{/deletequestionnaire/{questionnaireId}(id=${q.questionnaireId})}" class="btn btn-danger">Poista</a></td> <!--poista-->
        </tr>
    </table>
    <a href="/newquestionnaire" class="btn btn-success">Lisää kysely</a>
</body>
</html>