<!DOCTYPE html>
<html lang="fi">
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <title>Kyselyt</title>
</head>
<body>
    <h1>Kyselyt</h1>
    <table>
        <tr>
            <th>Otsikko</th>
            <th>Tekijä</th>
            <th>Kuvaus</th>
            <th>Julkaisuajankohta</th>
            <th>Viimeinen vastausajankohta</th>
            <th>Vastausten määrä</th>
            <th></th> <!--edit-button-->
            <th></th> <!--questions-button-->
            <th></th> <!--delete-button-->
        </tr>
        <tr th:each = "survey : ${surveys}"> <!--q = survey-->
            <td th:text="${survey.title}"></td>
            <td>(tekijä)</td>
            <td th:text="${survey.description}"></td>
            <!--Temporals.format muuttaa daten ja timen luettavaan tekstimuotoon HTML-sivulle (välttää errorin kun poistaa sekuntit näkyviltä)-->
            <td>
            <div th:text="${#temporals.format(survey.openingDate, 'dd.MM.yyyy')}"></div>
            <div th:text="${#temporals.format(survey.openingTime, 'HH:mm')}"></div>
            </td>
            <td>
            <div th:text="${#temporals.format(survey.deadlineDate, 'dd.MM.yyyy')}"></div>
            <div th:text="${#temporals.format(survey.deadlineTime, 'HH:mm')}"></div>
            </td>
            <td>(vastauksia)</td>
            <td><a th:href="@{/editsurvey/{surveyId}(surveyId=${survey.surveyId})}" class="btn btn-primary">Muokkaa</a></td>
            <td><a th:href="@{/deletesurvey/{surveyId}(surveyId=${survey.surveyId})}" class="btn btn-danger">Poista</a></td>
        </tr>
    </table>
    <a href="/addsurvey" class="btn btn-success">Lisää kysely</a>
</body>
</html>