<!DOCTYPE html>
<html lang="fi">
<html xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Kyselyt</title>
</head>

<body>
    <h1>Kyselyt</h1>
    <table class="table table-striped">
        <tr>
            <th>Otsikko</th>
            <th>Kuvaus</th>
            <th>Avausajankohta</th>
            <th>Viimeinen vastausajankohta</th>
            <th>Vastausten määrä</th>
            <th colspan="3"></th>
        </tr>
        <tr th:each="survey : ${surveys}">
            <td th:text="${survey.title}"></td>
            <td th:text="${survey.description}"></td>
            <!--Temporals.format muuttaa daten ja timen luettavaan tekstimuotoon HTML-sivulle (välttää errorin kun poistaa sekuntit näkyviltä)-->
            <td>
                <div th:text="${#temporals.format(survey.openingDate, 'd. MMMM yyyy', #locale.forLanguageTag('fi'))}"></div>
                <div th:text="${#temporals.format(survey.openingTime, 'HH:mm')}"></div>
            </td>
            <td>
                <div th:text="${#temporals.format(survey.deadlineDate, 'd. MMMM yyyy', #locale.forLanguageTag('fi'))}"></div>
                <div th:text="${#temporals.format(survey.deadlineTime, 'HH:mm')}"></div>
            </td>
            <!-- number of participants -->
              <td th:text="${participantCounts[survey.surveyId]}">0</td> 
            <td><a th:href="@{/survey/{surveyId}/responses(surveyId=${survey.surveyId})}" class="btn btn-info">Vastaukset</a>
            </td>
            <td><a th:href="@{/editsurvey/{surveyId}(surveyId=${survey.surveyId})}" class="btn btn-primary">Muokkaa</a>
            </td>
            <td><a th:href="@{/deletesurvey/{surveyId}(surveyId=${survey.surveyId})}" class="btn btn-danger">Poista</a>
            </td>
        </tr>
        <tr class="no-border">
            <td class="no-border" colspan="8">
                <a href="/addsurvey" class="btn btn-success">Lisää kysely</a>
            </td>
        </tr>

    </table>
</body>

</html>